# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
.env/
.venv/
venv/
ENV/

# PyInstaller / build artifacts
build/
dist/
*.egg-info/

